body {
    background-color: #D89999;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    max-height: 500px;
    background-color: #1E1E1E;
    align-items: center;
    justify-content: space-between;
}

.texto-header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: #c5cfc6;
    padding-right: 8rem;
}

.elementos-container {
    display: flex;
    flex-flow: wrap;
    justify-content:space-around;
    margin-top: 2rem;
}

.btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem;
    width: 15%;
    height: 10%;
    margin-left: 0.3rem;
    border-width: 3px;
    border-radius: 10px;
    font-size: 1.3rem;
    text-align: center;
    color: black;
    cursor: pointer;
    background-color: #9D9D93;
}

.redefinir-jogador {
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
}

.input-redefinir-jogador {
    background-color: #c5cfc6;
    width: 90%;
    height: 30%;
    margin-top: 0.3rem;
    border-width: 3px;
    border-radius: 10px;
    font-size: 1.3rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}

.text-redefinir-jogador {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    color: black;
}

.board {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flip-card {
    display: flex;
    flex-flow: wrap; 
    justify-content: space-around; 
    align-content: center;
    align-items: center;
    flex: 0 1 20%;
    height: 250px;
    background-color: transparent;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 140px;
    height: 160px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.rotate-flip-card .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 140px;
    height: 160px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #1E1E1E;
    border-radius: 2px;
    background-color: #9D9D93;
  }

  .flip-card-front {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.img-front {
    width: 100%;
    height: 100%;  
}

.flip-card-back .img-back {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
}

.footer-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #f8edd1;
}

.btn-iniciar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.2rem;
    width: 140px;
    height: 40px;
    margin-top: 2%;
    border-width: 3px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    color: black;
    cursor: pointer;
    background-color: #9D9D93;
}

.container-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}

.text-home {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #000000;
    padding-right: 8rem;
    margin-top: 5rem;
}

.definir-jogador {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 2rem;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
}
.text-definir-jogador {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    color: #474843;
}

.input-definir-jogador {
    background-color: #c5cfc6;
    width: 40%;
    height: 50%;
    margin-top: 0.3rem;
    border-width: 3px;
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}

